body{
    font-family: Arial;
    background: #f4f4f4;
    width: 700px;
    margin: auto;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.arena{
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
}

.Register{
    background-color: gray;
    padding: 10px;  
}

.displays{
    background-color: gray;
    padding: 10px;  
}

.posts{
    background-color: cyan;
    padding: 10px;  
}

button{
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.post{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post img{
    width: 100%;
    border-radius: 10px;
}

.actions{
    margin-top: 10px;
}

.like{
    color: red;
    cursor: pointer;
}



